<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ShelterBay</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="icon" href="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/36bcf6bb32a8d786a8325a269b69ea6a" type="image/x-icon" />

    <style>
        .timeRemaining {
            display: none;
        }
    </style>
</head>
<body>
<div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
                <th>Bids</th>
                <th colspan=”2”>Time Remaining</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="auction : ${data}">
                <td th:text="${auction.itemShortName}"></td>
                <td style="max-width: 250px;" th:text="${auction.itemDescription}"></td>
                <td th:text="${auction.itemPrice}"></td>
                <td th:text="${auction.numberOfBids}"></td>
                <td style="text-align: center;  font-style: italic;"><span th:text="${auction.secondsLeft}" class="timeRemaining"></span><span class="displayTime"></span></td>
                <td><button type="button"  class="btn btn-success">Bid now</button></td>
            </tr>
            </tbody>
        </table>
</div>

<!-- <script src="javascript/script.js"></script> -->


<script>

function handleTime() {

    $('.timeRemaining').each(function(i, obj) {
            var secondsLeft = $(this).text()

            var seconds = (secondsLeft % 60)
            var mins = Math.floor((secondsLeft / 60))


            if(seconds <= 9)
                seconds = "0" + seconds;

            $(this).text(secondsLeft - 1)

           $(this).siblings("span").text(mins +  ":" + seconds);

    });

}

$(document).ready(function(){

handleTime()
setInterval(function(){ handleTime() }, 1000);


});

</script>

</body>
</html>